# Exercises
## Using the titanic data, in your `classification-exercises` repository, create a notebook, `model.ipynb` where you will do the following:

In [3]:
#imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import acquire
import prepare
import warnings
warnings.filterwarnings("ignore")
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [22]:
df_titanic = acquire.get_titanic_data()

In [23]:
df_titanic = prepare.prep_titanicb(df_titanic)

In [24]:
df_titanic.head()

,passenger_id,survived,pclass,age,sibsp,parch,fare,embarked,alone,is_female,embark_Cherbourg,embark_Queenstown,embark_Southampton
0,0,0,3,22.0,1,0,7.2500,S,0,0,0,0,1
1,1,1,1,38.0,1,0,71.2833,C,0,1,1,0,0
2,2,1,3,26.0,0,0,7.9250,S,1,1,0,0,1
3,3,1,1,35.0,1,0,53.1000,S,0,1,0,0,1
4,4,0,3,35.0,0,0,8.0500,S,1,0,0,0,1

In [33]:
df_titanic.drop(columns=['passenger_id', 'embarked'], inplace=True)
df_titanic.head()

,survived,pclass,age,sibsp,parch,fare,alone,is_female,embark_Cherbourg,embark_Queenstown,embark_Southampton
0,0,3,22.0,1,0,7.2500,0,0,0,0,1
1,1,1,38.0,1,0,71.2833,0,1,1,0,0
2,1,3,26.0,0,0,7.9250,1,1,0,0,1
3,1,1,35.0,1,0,53.1000,0,1,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,0,0,1

In [34]:
# Target = Survived
train_titanic, validate_titanic, test_titanic = prepare.split_data(df_titanic, 'survived')

Prepared df: (712, 11)

Train: (426, 11)
Validate: (143, 11)
Test: (143, 11)

In [35]:
train_titanic.survived.value_counts(normalize=True)

0    0.596244
1    0.403756
Name: survived, dtype: float64

### What is your baseline prediction? 
> `Remember`: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.  

> Baseline prediction is that the passenger did not survive  
* `survived == 0`

### What is your baseline accuracy?

In [36]:
X_train = train_titanic.drop(columns=['survived'])
y_train = train_titanic.survived

X_validate = validate_titanic.drop(columns=['survived'])
y_validate = validate_titanic.survived

X_test = test_titanic.drop(columns=['survived'])
y_test = test_titanic.survived

In [39]:
baseline_acc = (y_train ==0).mean()

In [38]:
print(f'Baseline accuracy for non-survival prediction on the Titanic Dataset is: {baseline_acc: .2}')

Baseline accuracy for non-survival prediction on the Titanic Dataset is:  0.6

### Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

> Follow in practice steps

In [40]:
# create object
clf_titanic = DecisionTreeClassifier(max_depth=3, random_state=123)

In [41]:
#fit the model --> model.fit(X,y)
clf_titanic = clf_titanic.fit(X_train, y_train)

### Evaluate your in-sample results using the model score, confusion matrix, and classification report.

### Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

### Run through steps 2-4 using a different max_depth value.

### Which model performs better on your in-sample data?

### Which model performs best on your out-of-sample data, the validate set?

## Work through these same exercises using the Telco dataset.

## Experiment with this model on other datasets with a higher number of output classes.